p {
    font-family: Georgia, Seriff;
    font-weight: 300;
    color: black;
    background: white;
}

b {
    font-weight: 600;
}
/* psu green #566E10 */
 
.color-green {
    color: #566E10;
    background-color: #566E10;
    border-color: #566E10;
}

.color-brown {
    color: #A33F1F;
}

a {
    color: #A33F1F;
    border-color: #A33F1F;
    
}


.msg
{
    margin-bottom:20px;
    margin-left:20px;
}
.msgbody
{
    font-size: 12pt;
    margin-bottom:5px;
    padding: 5px 10px;
    clear: both;
}



.more
{

    margin-top: 20px;
}

.date 
{
    float: left;
    margin-top: 35px;
    margin-bottom:-20px;
    font-style: italic;
}
a:link{ text-decoration: none; border-style:none;}
a:visited{text-decoration: none; border-style:none;}
a:active{text-decoration: none; border-style:none;}
a:hover{text-decoration: underline; border-style:none; }
.bignum
{
    margin-top: -10px;
    margin-right: 25px;
    color: #EEEEEE;
    float: right;
    font-size: 300%;
}

.msgtitle
{
    text-align:left;
    margin-top:5px;
    float:left;
}

.msgheader
{
    margin-top: 30px;
    margin-bottom: 30px;
    overflow: auto;
    width: 100%;
}
.msgtitle h1 
{
 
    font-size:20pt;
    margin: 0px;
    font-weight: 500;
}

.msgcontent
{
    margin: 5px;
}

.msgtitle p
{
 
    font-style:oblique;
    font-size: 90%;
    margin: 2px 10px;
    font-weight: 100;

}
p
{
    font-size: 11pt;
}


.msgtitle A:link 
{
    text-decoration: none;  
    border-bottom: none;
}
.msgtitle A:visited 
{
    text-decoration: none;
    border-bottom: none;
}
.msgtitle A:active 
{
    border-bottom: none;
    text-decoration: underline;
}
.msgtitle A:hover 
{
    border-bottom: none;
    text-decoration: underline;
}
.tags
{
    float: left;
    font-style: italics;
    
}
.gref a:link{color: grey; text-decoration: none;}
.gref a:visited{color: grey; text-decoration: none;}
.gref a:active{color: grey; text-decoration: none;}
.gref a:hover{color: grey; text-decoration: underline;}

.title
{

    font-size:300%;
    font-family: Georgia, Seriff;
    font-weight: 100;
    margin:0;
    vertical-align:bottom;
}
.subtitle
{

    vertical-align:bottom;
    padding-bottom: 5px;
    color: #DDDDDD;
    font-size: 150%;
    font-family: Georgia, Seriff;
    font-weight: 100;
    margin: 0;
/*    margin-top: 50px;*/

    width: 60%;
}

.title a:link{color: #DDDDDD; text-decoration: none; border-style:none;}
.title a:visited{color: #DDDDDD; text-decoration: none; border-style:none;}
.title a:active{color: white; text-decoration: none; border-style:none;}
.title a:hover{color: white; text-decoration: none; 
	      border-style:none; }
.bref a:link{color: black; text-decoration: none; border-style:none;}
.bref a:visited{color: black; text-decoration: none; border-style:none;}
.bref a:active{color: black; text-decoration: none; border-style:none;}
.bref a:hover{color: black; text-decoration: underline; 
	      border-style:none; }

#wrap
{
    min-height:100%;
    width:100%;
    height:100%;
    
    
}
body {
    background: lightgray;
    margin:0;
}
#header
{
    text-align:left;
    padding-left: 50px;
    padding-top:20px;
    padding-bottom: 20px;
    left: 0px;
    right: 0px;
    clear: both;
}


#footer
{
    font-family: Georgia, Seriff;
    text-align:center;
    height: 100px;   
    float:right;
    width:100%;

}
#sidebar
{
    font-family: Georgia, Seriff;
    float:right;
    width:30%;
    margin-right: 20px;
    margin-top: 15px;
    padding-top:15px;
    padding-left: 15px;
    padding-bottom: 15px;
    border-right: 0px;
    border-bottom: 0px;
    border-left: 5px;
    border-top: 0px;
    border-style: double;
}
.gref a:link{color: grey; text-decoration: none;}
.gref a:visited{color: grey; text-decoration: none;}
.gref a:active{color: grey; text-decoration: none;}
.gref a:hover{color: grey; text-decoration: underline;}

#main
{
    font-family: Georgia, Seriff;
    font-size:16pt;
    float:left;
    width:65%;

    
}

#asdf
{
    background-color: white;
    overflow: auto;
    width: 100%;
    height: 100%;
}
.pagewidth
{
    max-width:960px;
    margin-left: auto;
    margin-right: auto;



}

.postfooter
{
    margin-top:-30px;
    font-size:12pt;
    margin-left:20px;
}

.msgbody img
{
    display: block;
    margin-left: auto;    
    margin-right: auto;
    max-width: 100%;
    border-style: solid;
    border-color: #EEEEEE;
    border-width: 5px;

}
.block
{
    padding-top: 5px;
    padding-bottom: 5px;

}

.msgbody pre, blockquote
{

    padding: 3px;
    overflow: auto;
    font-size: 11pt;
    background: #EEEEEE;
}

